extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		form(action="/users", method="POST")
			div(class="form-group")
				label(for="email") Email
				input(type="text" name="email" placeholder="Email" class="form-control")
			div
				label(for="password") Contrase単a
				input(type="password" name="password", placeholder="Contrase単a" id="password" class="form-control")
			div
				label(for="password") Confirma tu contrase単a
				input(type="password" name="password_confirmation", placeholder="Confirma tu contrase単a" id="password" class="form-control")
			div
				label(for="username") Username
				input(type="text" name="username", placeholder="Nombre de usuario" id="username" class="form-control")
			div(class="top-space")
				input(type="submit" value="Iniciar Sesion" class="btn btn-info")